pipeline/p_export_all_db_data.json
{
	"name": "p_export_all_db_data",
	"properties": {
		"activities": [
			{
				"name": "GetBatchdate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[p_GetBatchdate]",
						"storedProcedureParameters": {
							"pBatch_key": {
								"type": "Int32",
								"value": "10"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_GENERIC",
						"type": "DatasetReference",
						"parameters": {
							"Schema_Name": "etl",
							"TableName": "etl"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SetBatch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetBatchdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetBatchdate').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "setBatchDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "pDateVariable",
								"value": {
									"value": "@item().Batch_Date",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"pDateVariable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}