pipeline/p_GetFilecount.json
{
	"name": "p_GetFilecount",
	"properties": {
		"activities": [
			{
				"name": "Get List of Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "dsFileLocationDS",
						"type": "DatasetReference",
						"parameters": {
							"directoryName": "landing_dir",
							"containerName": "containerwtc"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get List of Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "Filescount"
					}
				],
				"typeProperties": {
					"variableName": "Filescount",
					"value": {
						"value": "@string(length(activity('Get List of Files').output.childItems))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Filescount": {
				"type": "String"
			}
		},
		"annotations": []
	}
}